[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sugarbag"]
	path = sugarbag
	url = https://github.com/srkobakian/sugarbag
[submodule "taipan"]
	path = taipan
	url = https://github.com/srkobakian/taipan
